/* CSS Reset */

/* Box sizing, margin & padding rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* CSS Reset End */
:root {
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
}

* {
  font-family: "Red Hat Display", sans-serif;
}

.container {
  padding: 0 32px;
}

header {
  padding: 48px 0 64px 0;
}

.logo {
  margin: 0 auto;
}

.hero-img {
  height: 160px;
  margin-bottom: 48px;
  background-image: url("assets/tablet/image-hero.png");
  background-size: auto 100%;
  background-position: center center;
}

.photos-feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 64px;
}

.photos-feature-container > img {
  border-radius: 8px;
}

.hero-title {
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 0px;
  color: var(--slate-900);
  text-align: center;
}

.hero-text {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: center;
  color: var(--slate-600);
}

.btn {
  padding: 16px 40px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0px;
  color: white;
}

.download-btn,
.info-btn {
  display: block;
  margin: 0 auto 16px auto;
  background-color: var(--cyan-600);
}

.download-btn span {
  color: var(--cyan-300);
}

.info-btn {
  background-color: var(--purple-600);
}

.vertical-line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-line {
  height: 80px;
  border-left: 1px solid var(--slate-300);
}

.number-01 {
  margin-top: 32px;
  margin-bottom: 64px;
}

.circle-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid var(--slate-300);
  border-radius: 50%;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5;
  color: var(--slate-600);
  background-color: white;
}

.feature-tagline {
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 4px;
  color: var(--cyan-600);
  text-align: center;
}

.feature-title {
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.1;
  color: var(--slate-900);
  text-align: center;
}

.feature-text {
  margin-bottom: 64px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--slate-600);
  text-align: center;
}

.number-02 {
  margin-bottom: -28px;
  position: relative;
  z-index: 2;
}

footer {
  padding: 64px 0;
  position: relative;
  color: white;
  background-image: url("assets/mobile/image-footer.jpg");
  background-size: cover;
}

.footer-content {
  z-index: 1;
  position: relative;
}

.footer-bg-overlay {
  position: absolute;
  background-color: var(--cyan-600);
  opacity: 0.9;
  inset: 0;
  z-index: 0;
}

.footer-title {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0px;
}

.footer-text {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.footer-btn {
  display: block;
  background-color: var(--purple-600);
  margin: 0 auto;
}

.footer-btn span {
  color: var(--purple-300);
}

.footer-btn:hover,
.info-btn:hover {
  background-color: #b18bdd;
}

.download-btn:hover {
  background-color: #71c0d4;
}

@media (min-width: 700px) {
  .container {
    padding: 0 44px;
  }

  .hero-title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: 900;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .feature-title {
    font-size: 36px;
    line-height: 1.1;
  }

  .feature-text,
  .footer-text {
    font-size: 16px;
  }

  .footer-title {
    font-size: 36px;
    line-height: 1.1;
  }

  .hero-img {
    height: 300px;
  }

  .hero-container {
    max-width: 450px;
    margin: 0 auto 64px auto;
  }

  .hero-btn-container {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .hero-btn-container .btn {
    margin: 0;
  }

  .feature {
    padding: 56px 0 64px 0;
  }

  .feature-text {
    margin-bottom: 0;
  }

  .photos-feature-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .feature-content,
  .footer-content {
    max-width: 500px;
    margin: 0 auto;
  }

  .number-02 {
    margin-top: 0;
  }

  footer {
    background-image: url("assets/tablet/image-footer.jpg");
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin: 0 auto;
  }

  .hero-img {
    display: none;
  }

  .hero-container {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    gap: 64px;
    max-width: 100%;
  }

  .hero-left-img,
  .hero-right-img {
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .hero-left-img {
    background-image: url("assets/desktop/image-hero-left.png");
    background-position: center right;
  }

  .hero-right-img {
    background-image: url("assets/desktop/image-hero-right.png");
    background-position: center left;
  }

  .hero-title {
    font-size: 64px;
  }

  .hero-text {
    font-size: 18px;
  }

  .feature-tagline {
    font-size: 16px;
  }

  .feature-title,
  .footer-title {
    font-size: 40px;
  }

  .feature-text,
  .footer-text {
    font-size: 18px;
  }

  .footer-content {
    max-width: 100%;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-title,
  .footer-text {
    text-align: start;
    margin: 0;
  }

  footer {
    padding: 112px 0;
    background-image: url("assets/desktop/image-footer.jpg");
  }

  .footer-btn {
    margin: 0 0 0 auto;
  }
}
